.jumbotron {
  padding: 6rem 1rem;
  background-color: #fff4e2;
}

#projects {
  background-color: #fff4e2;
}

.light-color {
  color: #fff4e2;
}

footer {
  padding: 10px 0;
}

section {
  padding-top: 5rem;
}

.img-gallery {
  padding: 0;
}
